.graph__container__description {
    font-weight: normal;
    font-size: 18px;
    line-height: 80px;
    width: 104px;
}

@media screen and (max-width: 320px) {
    .graph__container__description {
        line-height: 48px;
        width: 64px;
    }
}
