.search-section__input {
    font-size: 16px;
    line-height: 22px;
    width: calc(100% - 160px);
    height: 64px;
    border-radius: 100px;
    border: none;
    padding: 0 24px;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto';
}


.search-section__input:-webkit-autofill,
.search-section__input:-webkit-autofill:hover,
.search-section__input:-webkit-autofill:active,
.search-section__input:-webkit-autofill:focus {
    background-color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.search-section__input:invalid{
    color: #882436;
}

@media screen and (max-width: 446px) {
    .search-section__input {
        max-width: 288px;
        height: 56px;
        margin: 0 0 16px;
        padding: 0 16px;
        width: 100%;
    }
}