.slider-box__arrow {
    padding: 0 !important;
    border-radius: 100px !important;
    box-shadow: none !important;
}

.slider-box__arrow:hover {
    transform: scale(1.5, 1.5) translateY(-33%);
}

@media screen and (max-width: 768px) {

    .slider-box__arrow {
        display: none !important;
    }
}