@import url(__logo/header__logo.css);
@import url(__menu-item/header__menu-item.css);
@import url(_white-background/header_white-background.css);

.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding: 0 calc((100% - (100% - 200px))/2);
}

@media screen and (max-width: 768px) {
    .header {
        height: 64px;
        padding: 0 calc((100% - (100% - 80px))/2);
    }
}

@media screen and (max-width: 320px) {
    .header {
        height: 56px;
        padding: 0 calc((100% - (100% - 32px))/2);
    }
}
