@import url(__section/root__section.css);

.root {
    background-color: white;
    min-height: 100vh;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 1440px;
    min-width: 320px;
    margin: auto;
}