@import url(_bold/text-block__description_bold.css);

.text-block__description {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    margin: 0 0 24px;
}

.analytics-section .text-block__description {
    margin-bottom: 4px;
}

.text-block__description_analytics-section {
    color: #B6BCBF;
}

@media screen and (max-width: 768px) {
    .text-block__description {
        margin: 0 0 16px;
    }
}