@import url(__title/commit-card__title.css);
@import url(__info/commit-card__info.css);
@import url(__user-info-container/commit-card__user-info-container.css);
@import url(__description/commit-card__description.css);
@import url(__image/commit-card__image.css);

.commit-card {
    width: 400px;
    background: #FFF;
    border-radius: 16px;
}