.card-section__title-block {
    display: none; /*flex*/
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0 64px;
}

@media screen and (max-width: 768px) {
    .card-section__title-block {
        padding: 0 0 32px;
    }
}

@media screen and (max-width: 320px) {
    .card-section__title-block {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }
}