.card-section__news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 16px;
    justify-items: flex-start;
    width: 100%;
}

@media screen and (max-width: 1440px) {
    .card-section__news-grid {
        grid-template-columns: repeat(3, minmax(224px, 400px));
    }
}

@media screen and (max-width: 768px) {
    .card-section__news-grid {
        grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
        grid-gap: 8px;
    }
}

@media screen and (max-width: 320px) {
    .card-section__news-grid {
        grid-template-columns: repeat(1,  minmax(288px, 1fr));
        gap: 8px;
        padding-top: 40px;
        justify-items: center;
    }
}