@import url(_legend/table-block__description_legend.css);

.table-block__description {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #B6BCBF;
    text-transform: uppercase;
}

@media screen and (max-width: 320px) {
    .table-block__description {
        display: none;
    }
}