@import url(__title/card-section__title.css);
@import url(__description/card-section__description.css);
@import url(__title-block/card-section__title-block.css);
@import url(__button/card-section__button.css);
@import url(__news-grid/card-section__news-grid.css);
@import url(_commit/card-section_commit.css);

.card-section {
    background: #F5F6F7;
    align-items: center;
    display: none;
}