.search-section__title {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 60px;
    line-height: 64px;
    max-width: 593px;
    margin: 0 0 32px;
}

@media screen and (max-width: 768px) {
    .search-section__title {
        font-size: 36px;
        line-height: 40px;
        max-width: 385px;
        margin: 0 0 56px;
    }
}

@media screen and (max-width: 446px) {
    .search-section__subtitle {
        font-size: 32px;
        margin: 0 0 24px;
    }
}