.card-section_commit {
    display: flex !important;
}

@media screen and (max-width: 540px) {

    .card-section_commit {
        position: relative;
        height: 568px;
        justify-content: flex-start;
    }
}