.header__menu-item_current-item {
    color: #000 !important;
    border-bottom: #000 2px solid !important;
    padding-bottom: 26px;
}

@media screen and (max-width: 768px) {
    .header__menu-item_current-item-with-background {
        padding-bottom: 20px;
        max-width: 448px;
    }
}

@media screen and (max-width: 320px) {
    .header__menu-item_current-item-with-background {
        padding-bottom: 15px;
    }
}